[Unit]
Description=Mnemosyne Auto-Archive Bot

[Service]
Type=simple
ExecStart=/var/bot/mnemosyne/mnemosyne.py
WorkingDirectory=/var/bot/mnemosyne

[Install]
WantedBy=multi-user.target
